<!DOCTYPE html>
{% load static %}
<html lang="en">
<script>
  var yourName =prompt("Enter Your Name");

var names=yourName.slice(0,1);
names= names.toUpperCase();
  
var loweCaseName=yourName.slice(1,yourName.length);
loweCaseName= loweCaseName.toLowerCase();
  
  alert("Hello" + " "+ names + loweCaseName.slice(0,yourName.length)+" "+ "Welcome To My Website.");
  
var notee=document.getElementById("hope");
notee.innerHTML="Hi."+names + loweCaseName.slice(0,yourName.length)+".I Hope You Like This Website. I Am Thankfully To You .You Vist My Website......❤🤍💛";
  
  
</script>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>My Website</title>
 
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <!-- <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
<script defer src="https://pyscript.net/latest/pyscript.js"></scri> -->
</head>
<style>
  #mytext{
    color: brown;
    font-size: 100px;
  }
</style>

<body>
  <div id="mytext"></div>
  <py-script scr="mudasir.py"></py-script>
  <!-- Header -->
  <!-- <button href="mudasir.py">click</button> -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>M</span>UDA <span>S</span>IR</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
            <li><a href="#services" data-after="Service">Gallery</a></li>
            <li><a href="#projects" data-after="Projects">My Project</a></li>
            <li><a href="#about" data-after="About">About</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1 id="heading">Hello, <span></span></h1>
        <h1>My Name is <span></span></h1>
        <h1>Mudasir <span></span></h1>
        <a href="#projects" type="button" class="cta">PROJECTS</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

  <!-- Service Section -->
  <section id="services">
    <div class="services container">
      <div class="service-top">
        <h1 class="section-title">GALL<span>E</span>RY</h1>
       
      </div>
      <div class="row">
        <div class="col">

    </div>
        <div class="col">
    <div class="gallery-box">
        <img src="{% static 'images/pic1.jpg' %}" id="gallery">
      <ul>
        <li class="btns active">01</li>
        <li class="btns ">02</li>
        <li class="btns ">03</li>
        <li class="btns ">04</li>
      </ul>
    </div>
</div>
    </div>


</div>  
  </section>
  
  

  <!-- End Service Section -->
  <marquee ><h1 id="hope"></h1></marquee> 
    
    <marquee><h1>I Hope You Like This Website. I Am Thankfully To You .You Vist My Website......❤🤍💛</h1></marquee>


  <!-- Projects Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title"><span>My Projects</span></h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>Project 1</h1>
            <h2>MY WEBSITE</h2>
            <p>This Is My First Website.I Made It In 17 July 2022.It Was My First Experience In The Web Devlopment World.
              In This Website I Used NEON TEXT etc.With This Website I Have So Much Memories. </p>
          </div>
          <div class="project-img">
            <img src="{% static 'images\my_1st_website.png' %}" alt="1st_img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 2</h1>
            <h2>Gallery</h2>
            <p>This is Gallery Web Page.It Was My Practice Project.
              I Learned This Web Page In Online And Then I Make It.
              In This Web Page I learned MANUAL BUTTON Working And So Much.It Was Great Project.
               </p>
          </div>
          <div class="project-img">
            <img src="{% static 'images\2nd_Gallery_project.png' %}" alt="2nd_img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 3</h1>
            <h2>HAPPY_BIRTHDAY_website</h2>
            <p>This Website is Whishing For Birthday.In This Website We MAke Auto Gallery Buttons.In This Website When You Vist
              They Play Automatic Music And Video.This Project Was Amazing And Memorable.❤
            </p>
           </div>
          <div class="project-img">
            <img src="{% static 'images\3RD_HAPPY_BIRTHDAY.png'%}" alt="3rd_img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 4</h1>
            <h2>Collage Project</h2>
            <p>This Website Is My Collage Project.It Is Not So Much Atractive Becuse In This Website I Only Use Html But This Website
              Is My First Collage Project.
            </p>
          </div>
          <div class="project-img">
            <img src="{% static 'images\4TH_Collage_Project.png'%}" alt="4th_img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 5</h1>
            <h2>Coding is Love</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde
              rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt
              harum? Ipsum repellat animi, fugit architecto voluptatum odit et!</p>
          </div>
          <div class="project-img">
            <img src="IMAGE\skill.jpg" alt="img">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Projects Section -->

  <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="{% static 'images\me.jpg'%}" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>me</span></h1>
        <h2>Front End Developer</h2>
        <p>Hello.I Am PROGRAMER.I Am Doing BCA.I Started Learning To Code
          1Year Before Because  I Am Interest In Coding.I Have Learned C Language And Front 
          End Development.I Am Improve Myself Day By Day In Programing World.I Have Gained 
          A Wealth Of Experience Designing And Website And I LOVE It💝.....
        </p>
        <!-- <a href="#" class="cta">Download Resume</a> -->
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Contact Section -->

  <div class="contact">
    <div id="contact" class="contact-me">
<a class="btn" href="/contact">CONTACT ME</a>
    </div>
</div>
  <!-- End Contact Section -->
  <script src="{% static 'js\apps.js' %}"></script>
  <script>
    var btn=document.getElementsByClassName("btns")
    var gallery=document.getElementById("gallery")
    var images=new Array(
        "{% static 'images/pic1.jpg' %}",
        "{% static 'images/pic2.jpg' %}",
        "{% static 'images/pic3.jpg' %}",
        "{% static 'images/pic4.jpg' %}"


    );
    for(let i=0; i<btn.length; i++){
        btn[i].onclick=function()
        {
            gallery.src=images[i];
            let current=document.getElementsByClassName("active");
           current[0].className = current[0].className.replace("active","");
           this.className += "active";
        };
    }
</script>
  
</body>

</html>    